<div class="mt-8">
  <div class="text-4xl font-light">Imagenについて</div>
  <div class="mt-8">
    <div class="font-light flex flex-col gap-4">
      <p>Imagenは、画像を生成するためのサービスです。</p>
      <p>Imagenは、画像を生成するためのサービスです。</p>
      <p>Imagenは、画像を生成するためのサービスです。</p>
    </div>
  </div>
</div>