<nav class="border-gray-200 mt-2">
  <div class="flex justify-between items-center mx-auto">
    <div class="">
      <%= image_tag "imagen-logo.png", class: "w-20 h-20 rounded-md" %>
    </div>

    <div class="flex items-center gap-4">
      <div class="text-[#3182ce]">Imagenについて</div>
      <!-- TODO: ログインとサインアップはユーザーがログインしているかどうかで表示を変える -->
      <div class="text-[#3182ce]">ログイン</div>
      <div class="text-[#3182ce]">サインアップ</div>
    </div>

  </div> 
</nav>
