<div class="mt-8">
  <div class="text-4xl font-light">Images</div>
  <div class="mt-8">
    <div class="grid grid-cols-2 gap-4">
      <% 20.times do %>
        <div>
          <%= link_to image_tag("dummy.png", class: "w-full h-auto"), "/images/1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
